@{
<<<<<<< HEAD
    ViewData["Title"] = "Home Page ci test 3333 ";
=======

    ViewData["Title"] = "Home Page ci test ";

    ViewData["Title"] = "Home Page CI relase";

>>>>>>> 4e490d2c64891b21de2cc4bcc5932e888ed54fca
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
